// body {
//   background: transparent;
// }

.hideBox {
  background-color: #0077fe;
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.infoBox {
  -webkit-app-region: drag;
  background: transparent;
  position: relative;
  min-height: 100%;
  user-select: none;
  // background: rgba(255, 255, 255, 0.4);
  // opacity: 0.1;

  // &:hover {
  //   background: white;
  //   opacity: 1;
  // }

  .header {
    height: 100px;
    background-color: #0077fe;
    display: flex;
    align-items: center;
    user-select: none;

    .logo {
      width: 80px;
    }

    .text {
      margin-top: 8px;
      color: white;
      font-size: 22px;
      line-height: 0.7;
      text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);

      span {
        font-size: 13px;
      }
    }

    .hide {
      font-size: 14px;
      color: white;
      margin-left: auto;
      padding-right: 15px;
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      padding-left: 15px;
      cursor: pointer;
      height: 40px;
      display: flex;
      align-items: center;
    }
  }

  .infoBox {
    .title {
      font-size: 14px;
      background: #f0f0f0;
      padding: 5px 0.5em;
    }

    .currentList {
      padding: 0 0.5em;
      margin-top: 0.5em;

      .line {
        display: flex;
        align-items: center;

        .avatar {
        }

        .ip {
          line-height: 1;
          margin-left: 0.5em;
        }

        .time {
          margin-left: auto;
        }
      }
    }
  }

  .closeAll {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 40px;
    background: #0077fe;
    line-height: 40px;
    cursor: pointer;
    color: white;
  }
}
